<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('app_admin') }}">Admin</a></li>
                    {% endif %}
                    {% for insight_type in insight_types.all %}
                    <li>
                        <a href="{{ path('app_insight_details', {id: insight_type.id}) }}">{{ insight_type.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </header>
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
